.form-country,.Country-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  margin:100px;
  font-size: 40px;
  border:solid 3px brown;
  border-radius:30px;
  padding:50px;
}

.capital-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.text-field{
  font-size: 40px;

}
